
[submodule "flow"]
	path = flow
	url = https://github.com/facebook/flow
[submodule "reason-tools"]
	path = reason-tools
	url = https://github.com/reasonml/reason-tools
[submodule "test/flow-typed"]
	path = test/flow-typed
	url = https://github.com/flowtype/flow-typed
